<launch>
  <arg name="lambda_prefer" default="0.001"/>
  <arg name="flip_radius" default="200"/>
  <arg name="alpha_relax" default="10"/>
  <arg name="use_dk" default="false"/>
  <arg name="enable_mst" default="true"/>
  <arg name="enable_record" default="false"/>
  <arg name="exp_suffix" default=""/>
  <node pkg="cure_planner" type="graph_mst" name="graph_mst" output="screen">
    <!-- required -->
    <param name="num_robots" value="4" />
    <rosparam command="load" file="$(find cure_planner)/launch/param/clutter_env.yaml"/>
    <!-- <rosparam command="load" file="$(find connectivity_exploration)/param/forest.yaml"/> -->
    <param name="lambda_prefer" value="$(arg lambda_prefer)"/>
    <param name="flip_radius" value="$(arg flip_radius)"/>
    <param name="alpha_relax" value="$(arg alpha_relax)"/>
    <param name="use_dk" value="$(arg use_dk)"/>
    <param name="enable_mst" value="$(arg enable_mst)"/>
    <param name="enable_record" value="$(arg enable_record)"/>
    <param name="exp_suffix" value="$(arg exp_suffix)"/>
    <param name="control_rate" value="30"/>
    <param name="step" value="0.05"/>

    <param name="basic_scaling_factor" value="0.8"/>     
    <!-- 0.8 -->
    <param name="leader_scaling_factor" value="1.2"/>
    <param name="leader_crucial_connectivity_force" value="4.5"/>
    <param name="leader_crucial_scaling_factor" value="0.99"/>
    <param name="all_crucial_connectivity_force" value="8"/>
    <param name="all_crucial_scaling_factor" value="0.0"/>

    <param name="d_los_min" value="0.1"/>     
    <!-- parameter when using dk 3.0 -->
    <param name="d_los_max" value="1.2"/>    
    <!-- <param name="d_los_max" value="1.0"/>      -->

    <!-- <param name="m_d_min" value="0.5"/>  -->
    <!-- optional -->
    <param name="rate_hz" value="10.0" />
    <!-- <=0 means no gating (complete graph); set e.g. 8.0 to only connect within 8m -->
    <param name="max_edge_distance" value="-1.0" />
    <param name="global_frame" value="map"/>
    <param name="edge_line_width" value="0.05"/>
    <param name="marker_lifetime" value="0.2"/>
    <param name="use_gradient" value="true"/>
  </node>
</launch>